[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=6.0"
twine = ">=3.3"
ipykernel = ">=5.5"
mypy = ">=0.8"

[packages]
restful-client-lite = {editable = true,path = "."}

[requires]
python_version = "3.9"
