[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=8.0"
twine = ">=4.0"
ipykernel = ">=6.20"
mypy = ">=1.0"

[packages]
restful-client-lite = {editable = true,path = "."}

[requires]
python_version = "3.12"
